.idea
tmp
.gocache
node_modules
apps/web-platform-admin/dist
apps/web-platform-admin/.vite
packages/api-sdk/dist
packages/api-sdk/*.build.tsbuildinfo
packages/persistence-sdk/dist
packages/persistence-sdk/*.build.tsbuildinfo
packages/persistence-sdk/tsconfig.tsbuildinfo
openapi-ts-error-*.log
.pnpm-store
.data
.env
.gomodcache
.gopath
*.bak
/apps/demos/offline/test-results/.last-run.json
